/* Customer header */

.CustomerHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: #FFFFFF;
    height: 7em;
}
.Farm-logo{
    width: 15%;
}


#seacrhProducts , #informationUser{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;

}

#seacrhProducts{
    width: 40%;

}

#inpSearch{
    width: 78%;
    height: 35px;
    font-size:medium;
    border-radius: 4px;
    border-style: groove;
    border-color: #14d7b3;
}

#Icon-Search{
    width: 20%;
}
#btnSearch{
    display: flex;
    background: #14d7b3;
    border-radius: 4px;
    border: none;
    color: white;
    align-items: center;
    justify-content: space-around;
    font-size: medium;
    width: 20%;
    height: 40px;
}
#informationUser{
    width: 10%;
   
}

#Icon-Profile{
    width: 28%;
}

#informationCart{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 20%;
    align-items: center;
    align-content: space-around;
}

#Icon-Cart{
    padding-right: 3%;
}

#cartPrice{
    padding-right: 15%;
}

#btnCheckout{
    background-color: #0E60FF;
    color: white;
    height: 40px;
    width: 48%;
    border-style: none;
    border-radius: 4px;
    font-size: medium;
    font-weight: bold;
}


/* Customer menu */

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #14d7b3;
    flex-direction: row;
    justify-content: flex-start;
  }
  
/* .listMenu{
    float: left;
} */
  
  .listMenu a {
    display: block;
    color: black;
    text-align: center;
    padding: 8px 13px;
    text-decoration: none;
    font-weight: bold;
  }

  li a:hover {
    background-color: white;
    color: black;
    font-weight: bold;

  }

  #Img-Line{
    width: 57%;
    padding-top: 193%;

  }



/* CustomerListOfProduts */

#ListOfProducts{
    background-color: #F3F1F1;
    height: max-content;
    min-height: 1024px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-left: 5%;
    padding-top: 5%;
}

.blockItem{
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 4px;
    align-items: center;
    width: 16%;
    height: 329px;
    background: white;
    justify-content: center;
    margin-left: 2%;
}

.btnItem{
    background: #58F4D8;
    border-radius: 4px;
    border: none;
    font-size: medium;
    width: 66%;
    height: 40px;
    color: black;
    font-weight: bold;
}