/* Customer header */

.CustomerHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: #FFFFFF;
    height: 7em;
}
.Farm-logo{
    width: 15%;
}

#seacrhProducts , #informationUser{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;

}

#seacrhProducts{
    width: 40%;

}

#inpSearch{
    width: 78%;
    height: 35px;
    font-size:medium;
    border-radius: 4px;
    border-style: groove;
    border-color: #14d7b3;
}

#Icon-Search{
    width: 20%;
}
#btnSearch{
    display: flex;
    background: #14d7b3;
    border-radius: 4px;
    border: none;
    color: white;
    align-items: center;
    justify-content: space-around;
    font-size: medium;
    width: 20%;
    height: 40px;
}
#informationUser{
    width: 10%;
   
}

#Icon-Profile{
    width: 28%;
}

#informationCart{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 20%;
    align-items: center;
    align-content: space-around;
}

#Icon-Cart{
    padding-right: 3%;
}

#cartPrice{
    padding-right: 15%;
}

#btnCheckout{
    background-color: #0E60FF;
    color: white;
    height: 40px;
    width: 48%;
    border-style: none;
    border-radius: 4px;
    font-size: medium;
    font-weight: bold;
}


/* Customer menu */





/* CustomerListOfProduts */
